{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "no-unused-vars": 0,
      "no-unreachable": 2,
      "no-var": 2,
      "prefer-const": 2,
      "semi": 0,
      "quotes": 0,
      "no-alert": 2
    }
  }